Assignment 11 - StreamVault Project/data/videos.dtd

<!ELEMENT video_library (video+)>
<!ELEMENT video (title, genre, duration, views, rating, year, status)>
<!ATTLIST video 
    id ID #REQUIRED
    type (movie | series | documentary) "movie">

<!ELEMENT title (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT views (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT status (#PCDATA)>
